<% provide(:title, "ヘルプ") %>
<div class="panel panel-primary">
  <div class="panel-heading">ヘルプ</div>
  <div class="panel-body">
    <p>この掲示板は誰でも無料で閲覧することが可能です。</p>
    <p>スレッド作成、返信するには、会員登録(無料)が必要です。</p>
    <%= link_to "TOPに戻る", root_path %> |
    <%= link_to "会員登録",  new_user_registration_path %>
  </div>
</div>
