<main role="main" class="inner cover">
  <h1 class="cover-heading">11ちゃんねる</h1>
  <p class="lead">Web掲示板でコミュニケーションを取ろう</p>
    <div class="form-group">
      <%= form_tag(search_path, method:'get') do %>
        <%= text_field_tag :search %>
        <%= submit_tag '検索', :name => nil %>
      <% end %>
    </div>
</main>
