<main role="main" class="inner cover">
  <h1 class="cover-heading">11ちゃんねる</h1>
  <p class="lead">Web掲示板でコミュニケーションを取ろう</p>
  <div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </div>
</div>
</main>
