<main role="main" class="inner cover">
  <h1 class="cover-heading">11ちゃんねる</h1>
  <p class="lead">Web掲示板でコミュニケーションを取ろう</p>
  <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
  </p>
</main>
