<h1><%= @topic.title %></h1>
<hr>
<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="panel-title">1 <%= @topic.user_name %></h5>
  </div>
  <div class="panel-body">
    <%= @topic.content %>
  </div>
</div>
