<h1><%= @topic.title %></h1>
<% @subcategories.each do |subcategory| %>
  <button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> <%= subcategory.content %>
  </button>
<% end %>
<hr>
<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="panel-title">1 <%= @topic.user_name %></h5>
  </div>
  <div class="panel-body">
    <%= @topic.content %>
  </div>
</div>
